<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'assets/css/main.css'
                'assets/css/color.css'
                'assets/css/sidenav.css'
                filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="statusbar">TEST STATUSBAR</div>
        <div class="wrapper">
            <header class="main_header">
                
            </header>
            <section class="info_wrapper">
                <div class="infobox">{{ render(controller('AppBundle:InfoBox:news'))}}</div>
                <div class="infobox">{{ render(controller('AppBundle:InfoBox:lastCW'))}}</div>
                <div class="infobox">{{ render(controller('AppBundle:InfoBox:nextCW'))}}</div>
                <div class="infobox">{{ render(controller('AppBundle:InfoBox:forum'))}}</div>
            </section>
            <section class="content_wrapper">
                <aside class="sidebar">
                    <section class="nav_sec">
                        {{ render(controller('AppBundle:Navigation:render')) }}
                    </section>
                </aside>
                <section class="main_content">
                    {% block content %}{% endblock %}
                </section>
            </section>
            <footer class="main_footer">
                TESTFOOTER
            </footer>
        </div>
        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>
